
@{
    ViewData["Title"] = "GetListKhieuNai";
}
@model List<DonKhieuNaiViewModel>
<div class="section">
    <div class="card_app">
        <div class="card__header1">
            <h3>danh sách đơn khiếu nại nhân viên công ty</h3>
        </div>
        <div class="card__body">
            <div class="col-12">
                <div class="box">
                    <div class="box-body overflow-scroll">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Tên Nhân Viên</th>
                                    <th scope="col">Nội dung khiếu nại</th>
                                    <th scope="col">Tên quản lý quy trách nhiệm</th>
                                    <th scope="col">Tên Chi Nhánh</th>
                                    <th scope="col">Mã đơn vị</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    if (Model.Count > 0)
                                    {
                                        foreach (var quanly in Model)
                                        {
                                            <tr>
                                                <td>@quanly.tenNhanVien</td>
                                                <td>@quanly.noiDung</td>
                                                <td>@quanly.tenQuanLyQuyTrachNhiem</td>
                                                <td>@quanly.tenChiNhanh</td>
                                                <td>@quanly.maDonVi</td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr><td colspan="5" class="text-center">Danh sách trống</td></tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



