@section dinh{
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="~/css/app.css" />
    <link type="text/css" rel="stylesheet" href="~/css/grid.css" />
    <link type="text/css" rel="stylesheet" href="~/css/theme.css" />
    <style>
        .enMoney:after {
            content: ' VND';
        }
    .swal-wide{
			width:500px !important;
			height:350px !important;
			font-size: 1.7rem !important;
		}
        .info p {
          text-align:center;
          color: #999;
          text-transform:none;
          font-weight:600;
          font-size:15px;
          margin-top:2px
        }

        .info i {
          color:#F6AA93;
        }
        form h1 {
          font-size: 18px;
          background: #F6AA93 none repeat scroll 0% 0%;
          color: rgb(255, 255, 255);
          padding: 22px 25px;
          border-radius: 5px 5px 0px 0px;
          margin: auto;
          text-shadow: none; 
          text-align:left
        }

        form {
          border-radius: 5px;
          max-width:700px;
          width:100%;
          margin: 5% auto;
          background-color: #FFFFFF;
          overflow: hidden;
        }

        p span {
          color: #F00;
        }

        p {
          margin: 0px;
          font-weight: 500;
          line-height: 2;
          color:#333;
        }

        h1 {
          text-align:center; 
          color: #666;
          text-shadow: 1px 1px 0px #FFF;
          margin:50px 0px 0px 0px
        }

        input {
          border-radius: 0px 5px 5px 0px;
          border: 1px solid #eee;
          margin-bottom: 15px;
          width: 75%;
          height: 40px;
          float: left;
          padding: 0px 15px;
        }

        a {
          text-decoration:inherit
        }

        textarea {
          border-radius: 0px 5px 5px 0px;
          border: 1px solid #EEE;
          margin: 0;
          width: 75%;
          height: 130px; 
          float: left;
          padding: 0px 15px;
        }

        .form-group {
          overflow: hidden;
          clear: both;
        }

        .icon-case {
          width: 35px;
          float: left;
          border-radius: 5px 0px 0px 5px;
          background:#eeeeee;
          height:42px;
          position: relative;
          text-align: center;
          line-height:40px;
        }

        i {
          color:#555;
        }

        .contentform {
          padding: 40px 30px;
        }

        .bouton-contact{
          background-color: #81BDA4;
          color: #FFF;
          text-align: center;
          width: 100%;
          border:0;
          padding: 17px 25px;
          border-radius: 0px 0px 5px 5px;
          cursor: pointer;
          margin-top: 40px;
          font-size: 18px;
        }

        .leftcontact {
          width:49.5%; 
          float:left;
          border-right: 1px dotted #CCC;
          box-sizing: border-box;
          padding: 0px 15px 0px 0px;
        }

        .rightcontact {
          width:49.5%;
          float:right;
          box-sizing: border-box;
          padding: 0px 0px 0px 15px;
        }

        .validation {
          display:none;
          margin: 0 0 10px;
          font-weight:400;
          font-size:13px;
          color: #DE5959;
        }

        #sendmessage {
          border:1px solid #fff;
          display:none;
          text-align:center;
          margin:10px 0;
          font-weight:600;
          margin-bottom:30px;
          background-color: #EBF6E0;
          color: #5F9025;
          border: 1px solid #B3DC82;
          padding: 13px 40px 13px 18px;
          border-radius: 3px;
          box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.03);
        }

        #sendmessage.show,.show  {
          display:block;
        }
    </style>
}
@model EmployeeViewModel
<div class="section" style="padding-top: 0px;">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group col-2">
          <p>Họ<span>*</span></p>
          <span class="icon-case"><i class="fa fa-male"></i></span>
          <input type="text" name="nom" id="nom" data-rule="required"
            data-msg="Vérifiez votre saisie sur les champs : Le champ 'Nom' doit être renseigné." />
          <div class="validation"></div>
        </div>

        <div class="form-group col-2">
          <p>Tên lót <span>*</span></p>
          <span class="icon-case"><i class="fa fa-user"></i></span>
          <input type="text" name="prenom" id="prenom" data-rule="required"
            data-msg="Vérifiez votre saisie sur les champs : Le champ 'Prénom' doit être renseigné." />
          <div class="validation"></div>
        </div>

        <div class="form-group col-2">
          <p>Tên <span>*</span></p>
          <span class="icon-case"><i class="fa fa-envelope-o"></i></span>
          <input type="email" name="email" id="email" data-rule="email"
            data-msg="Vérifiez votre saisie sur les champs : Le champ 'E-mail' est obligatoire." />
          <div class="validation"></div>
        </div>

        <div class="form-group col-2">
          <p>Loại nhân viên <span>*</span></p>
          <span class="icon-case"><i class="fa fa-home"></i></span>
          <input type="text" name="society" id="society" data-rule="required"
            data-msg="Vérifiez votre saisie sur les champs : Le champ 'Société' doit être renseigné." />
          <div class="validation"></div>
        </div>

        <div class="form-group col-2">
          <p>Lương <span>*</span></p>
          <span class="icon-case"><i class="fa fa-location-arrow"></i></span>
          <input type="text" name="adresse" id="adresse" data-rule="required"
            data-msg="Vérifiez votre saisie sur les champs : Le champ 'Adresse' doit être renseigné." />
          <div class="validation"></div>
        </div>

        <div class="form-group col-2">
          <p>Ngày sinh <span>*</span></p>
          <span class="icon-case"><i class="fa fa-map-marker"></i></span>
          <input type="text" name="postal" id="postal" data-rule="required"
            data-msg="Vérifiez votre saisie sur les champs : Le champ 'Code postal' doit être renseigné." />
          <div class="validation"></div>
        </div>
    </div>
    </div
    <div class="row">
        <div class="col-md-12">
            <div class="card_app">
                <div class="card__body">
                    <div class="col-15">
                              <div class="box overflow-scroll">
                                    <div class="box-header row" style="color:#349eff; font-size:22px;">
                                        <div class="col-8">
                                            Danh sách nhân viên @Model.Type của công ty
                                        </div>
                                        <div class="card__body col-4">
                                             <form asp-controller="Employee" asp-action="Insert" method="post">
                                                <div class="row">
                                                    <div class="form-group col-9"style="padding-right:5px">
                                                            <input type="text" class="form-control" placeholder="Type" value= "@(Model.Type)" name="e.Type"/>
                                                    </div>
                                                    <div class="col-3"style="padding:0px">
                                                        <button type="submit"style="width: 40px;height: 35px;border-radius:4px;" value="search" name="e.Action"><i class="fas fa-search"></i></button>
                                                    </div>
                                                </div>
                                            </form>
                                       </div>
                                    </div>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="text-left" scope="col">Họ và tên</th>
                                                <th class="text-center" scope="col"style="width: 15%;">Ngày vào làm</th>
                                                <th class="text-left" scope="col">Tài khoản</th>
                                                <th class="text-left" scope="col">Chức vụ</th>
                                                <th class="text-center" scope="col">Lương</th>
                                                <th class="text-center" scope="col"style="width: 5%;">Chỉ số</th>
                                                <th class="text-center" scope="col" style="width: 5%;">ID chi nhánh</th>
                                                <th class="text-left" scope="col">Tên chi nhánh</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        @{
                                        if (Model.ListEmployees != null)
                                        {
                                            if(Model.ListEmployees.Count>0)
                                            {
                                                foreach (var A in Model.ListEmployees)
                                                {
                                                <tr>
                                                    <td class="text-left">@(A.FirstName) @(A.MiddleName) @(A.LastName)</td>
                                                    <td class="text-center">@(A.Start.ToString("dd/MM/yyyy"))</td>
                                                    <td class="text-left">@(A.Account)</td>
                                                    <td class="text-left">@(A.Type)</td>
                                                    <td class="text-right price1" >@(A.Salary)</td>
                                                    <td class="text-center" >
                                                        @(A.Prestige)
                                                    </td>
                                                    <td class="text-center">@(A.IdBranch)</td>
                                                    <td class="text-left">@(A.NameBranch)</td>
                                                    <td class="text-left">
                                                     <form asp-controller="Employee" asp-action="Insert" method="post">
                                                        <input name="e.Account" type="hidden" value="@(A.Account)" />
                                                        <input name="e.Type" type="hidden" value="@(Model.Type)" />
                                                        <button type="submit" class="primary-btn" style="padding: 5px 15px; background-color: #7f1023; border: none; border-radius: 6px;" value="delete" name="e.Action">
                                                              <i class="fas fa-trash"></i>
                                                        </button>
                                                     </form>
                                                    </td>
                                                </tr>
                                                }
                                              }
                                            else
                                            {
                                                 <tr>
                                                      <td class="text-center" colspan="8" style="font-size:18px;font-weight: bold;" >Không có loại nhân viên: @(Model.Type) trong hệ thống</td>
                                                 </tr>
                                        }
                                          }
                                        else
                                        {
                                            <tr>
                                                <td class="text-center" colspan="8" style="font-size:18px;font-weight: bold;" >Vui lòng nhập địa chỉ phía trên!</td>
                                            </tr>
                                        }
                                    }
                                        </tbody>
                                    </table>
                                    <!-- END ORDERS TABLE -->
                          </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.all.min.js"></script>
	<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.min.css'>
    <script type="text/javascript">
        let a = document.querySelectorAll(".price1");
        for (let i = 0, len = a.length; i < len; i++) {
            let num = Number(a[i].innerHTML).toLocaleString('en');
            a[i].innerHTML = num;
            a[i].classList.add("enMoney");
        }
    var x = new Boolean(document.getElementById("dinh").value);
    if(x==true){
        Swal.fire({
		  icon: 'error',
	      title: 'Oops...',
		  text: 'Không tồn tại số ID này trong nhà hàng!',
		  customClass: 'swal-wide',
		  timer: 3000
		})
    }
     function kiemtra(){
        var d1 = document.getElementById("input11").value;
        var d2= document.getElementById("input22").value;
	    var d3 = document.getElementById("input33").value;
        if (d1=="") {
		      Swal.fire({
		      icon: 'error',
	          title: 'Oops...',
		      text: 'Vui lòng Mã nhà hàng!',
		      customClass: 'swal-wide',
		      timer: 3000
		    })
            return false;
        }
        if (d2=="") {
            Swal.fire({
		      icon: 'error',
	          title: 'Oops...',
		      text: 'Vui lòng nhập Tên món ăn!',
		      customClass: 'swal-wide',
		      timer: 3000
		    })
            return false;
        } 
	    if (d3=="") {
		    Swal.fire({
		      icon: 'error',
	          title: 'Oops...',
		      text: 'Vui lòng nhập Giá món ăn!',
		      customClass: 'swal-wide',
		      timer: 3000
		    })
            return false;
        }
        return true;
    }
  </script>
