@{
    ViewData["Title"] = "GetUuDai";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string[] don = new string[] { "STT", "Tên món ăn", "Đơn giá", "Đơn giá ưu đãi", "Tên ưu đãi", "Discount", "Mô tả", "Ngày hết hạn" };
}
@model List<ThongTinUuDaiViewModel>
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div>
                <h2>Thông tin ưu đãi món ăn</h2>
                <table class="table table-bordered table-striped table-hover">
                    <thead class="thead-dark">
                        <tr>
                            @{
                                foreach (var head in don)
                                {
                                    <th class="text-center">
                                        @head
                                    </th>
                                }
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (Model.Count > 0)
                            {
                                double discountt = 0;
                                int i = 1;
                                foreach (var Data in Model)
                                {
                                    discountt = Data.Discount * 100;
                                    <tr>
                                        <td class="text-center">@(i++)</td>
                                        <td class="text-center">@Data.TenMonAn</td>
                                        <td class="text-center price">@Data.DonGia</td>
                                        <td class="text-center price">@Data.GiaUuDai</td>
                                        <td class="text-center">@Data.TenUuDai</td>
                                        <td class="text-center">@discountt %</td>
                                        <td class="text-center">@Data.MoTa</td>
                                        <td class="text-center">@Data.NgayHetHan</td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="8" class="text-center">Không có ưu đãi dành cho món này!!</td>
                                </tr>
                            }

                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /STORE -->
        <!-- /row -->
    </div>
    <!-- /container -->
</div>

