@section dinh{
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="~/css/app.css" />
    <link type="text/css" rel="stylesheet" href="~/css/grid.css" />
    <link type="text/css" rel="stylesheet" href="~/css/theme.css" />
    <style>
        .enMoney:after {
            content: ' VND';
        }
    .swal-wide{
			width:500px !important;
			height:350px !important;
			font-size: 1.7rem !important;
		}
    </style>
}
@model QuanLiMonAnViewModel
<div class="section">
    <div class="row">
          <div class="col-3">
              <div class="card-1">
                  <div class="card__header1">
                      <h3 style="color:#349eff">Thêm món ăn</h3>
                  </div>
                  <div class="card-2">
                      <form asp-controller="Home" asp-action="QuanLiMonAn" method="post" onsubmit="return kiemtra()">
                          <input name="NhaHang.Add" type="hidden" value="@(Model.Add)"/>
                          <input  id="dinh" type="hidden" value="@(Model.Insert)"/>
                          <div class="form-group">
                              <lable>Mã nhà hàng</lable>
                              <input type="text" id="input11" class="form-control" name="NhaHang.IdNhaHang"/>
                          </div>
                          <div class="form-group">
                              <lable>Tên Món ăn</lable>
                              <input type="text" class="form-control" id="input22" name="NhaHang.NameMonAn"/>
                          </div>
                          <div class="form-group">
                              <lable>Giá món ăn</lable>
                              <input type="number" class="form-control" id="input33" name="NhaHang.Price" onchange="check()"/>
                          </div>
                          <div class="form-group">
                              <lable>Mô tả món ăn</lable>
                              <input type="text" class="form-control" id="input44" name="NhaHang.Description"/>
                          </div>
                          <div class="form-group">
                              <lable>ImgUrl</lable>
                              <input type="text" class="form-control" id="input55" name="NhaHang.ImgUrl"/>
                          </div>
                          <div class="row">
                              <div class="col-12">
                                  <button type="submit" value="insert" name="NhaHang.Type" class="buttonform">Thêm hoặc cập nhật</button>
                              </div>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
          
                <div class="col-9">
                    <div class="card-3">
                        <div class="card-4">
                            <div class="col-12">
                                <!-- ORDERS TABLE -->
                              <div class="box overflow-scroll">
                                    <div class="page">
                                        <form asp-controller="Home" asp-action="QuanLiMonAn" method="post">
                                          <label class="field field_v2">
                                            <input class="field__input" placeholder="Địa chỉ nhà hàng cần quản lí" value="@(Model.Add)" name="NhaHang.Add" required>
                                            <span class="field__label-wrap">
                                              <span class="field__label">Địa chỉ</span>
                                            </span>
                                            <button type="submit"style="width: 60px;height: 60px ;" value="search" name="NhaHang.Type"><i class="fas fa-search fa-2x"></i></button>
                                           </label>
                                        </form>
                                    </div>
                                    <div class="box-header" style="color:#349eff; font-size:22px; margin-bottom:20px ">
                                        Danh sách các món ăn của các nhà hàng
                                    </div>
                                    <table class="table" style="min-width:100%">
                                        <thead>
                                            <tr>
                                                <th class="text-center" scope="col" style="width: 5%;">ID</th>
                                                <th scope="col">Tên nhà hàng</th>
                                                <th class="text-left" scope="col" >Tên món ăn</th>
                                                <th class="text-center" scope="col" >Đơn giá</th>
                                                <th class="text-center" scope="col" >Trạng thái</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        @{
                                        if (Model.listMonAn != null)
                                        {
                                            if(Model.listMonAn.Count>0)
                                            {
                                                foreach (var A in Model.listMonAn)
                                                {
                                                <tr>
                                                    <td>(@A.IdNhaHang)</td>
                                                    <td>@(A.NameNhaHang)</td>
                                                    <td class="text-left">
                                                    <img src="@(A.Url)" style="width:70px;height:50px;">
                                                    @(A.NameMonAn)
                                                    </td>
                                                    <td class="text-right price1" >@(A.DonGia)</td>
                                                    <td class="text-center" >
                                                        @(A.isActive)
                                                    </td>
                                                    <td class="text-center">
                                                        <form asp-controller="Home" asp-action="QuanLiMonAn" method="post">
                                                        <input name="NhaHang.IdNhaHang" type="hidden" value="@(A.IdNhaHang)" />
                                                        <input name="NhaHang.IdMonAn" type="hidden" value="@(A.IdMonAn)"/>
                                                        <input name="NhaHang.Add" type="hidden" value="@(A.Add)"/>
                                                        @{
                                                            if(@A.isActive!=0)
                                                            {
                                                                <button type="submit" class="primary-btn" style="padding: 5px 15px; background-color: #7f1023; border: none; border-radius: 6px;" value="delete" name="NhaHang.Type">
                                                                    <i class="fas fa-trash"></i>
                                                                </button>
                                                            }
                                                            else
                                                            {
                                                                <button type="submit" class="primary-btn" style="padding: 5px 15px; background-color: #7f1023; border: none; border-radius: 6px;" value="active" name="NhaHang.Type">
                                                                    <i class="glyphicon glyphicon-ok"></i>
                                                                </button>
                                                            }
                                                        }
                                                        </form>
                                                    </td>
                                                </tr>
                                                }
                                              }
                                            else
                                            {
                                                 <tr>
                                                      <td class="text-center" colspan="6" style="font-size:18px;font-weight: bold;" >Không có nhà hàng nào ở địa chỉ: @(Model.Add)</td>
                                                 </tr>
                                        }
                                          }
                                        else
                                        {
                                            <tr>
                                                <td class="text-center" colspan="6" style="font-size:18px;font-weight: bold;" >Vui lòng nhập địa chỉ phía trên!</td>
                                            </tr>
                                        }
                                    }
                                        </tbody>
                                    </table>
                                    <!-- END ORDERS TABLE -->
                          </div>
                         </div>
                        </div>
                    </div>
                </div>
           
       </div>
   </div>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.all.min.js"></script>
	<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.min.css'>
    <script type="text/javascript">
        let a = document.querySelectorAll(".price1");
        for (let i = 0, len = a.length; i < len; i++) {
            let num = Number(a[i].innerHTML).toLocaleString('en');
            a[i].innerHTML = num;
            a[i].classList.add("enMoney");
        }
    var x = new Boolean(document.getElementById("dinh").value);
    if(x==true){
        Swal.fire({
		  icon: 'error',
	      title: 'Oops...',
		  text: 'Không tồn tại số ID này trong nhà hàng!',
		  customClass: 'swal-wide',
		  timer: 3000
		})
    }
    function check(){
        var d3 = document.getElementById("input33").value;
        if(d3<0)
        {
            Swal.fire({
		      icon: 'error',
	          title: 'Oops...',
		      text: 'Giá món ăn không được là số âm!',
		      customClass: 'swal-wide',
		      timer: 3000
		    })
            document.getElementById("input33").value=null;
        }
    }
     function kiemtra(){
        var d1 = document.getElementById("input11").value;
        var d2= document.getElementById("input22").value;
	    var d3 = document.getElementById("input33").value;
        if (d1=="") {
		      Swal.fire({
		      icon: 'error',
	          title: 'Oops...',
		      text: 'Vui lòng Mã nhà hàng!',
		      customClass: 'swal-wide',
		      timer: 3000
		    })
            return false;
        }
        if (d2=="") {
            Swal.fire({
		      icon: 'error',
	          title: 'Oops...',
		      text: 'Vui lòng nhập Tên món ăn!',
		      customClass: 'swal-wide',
		      timer: 3000
		    })
            return false;
        } 
	    if (d3=="") {
		    Swal.fire({
		      icon: 'error',
	          title: 'Oops...',
		      text: 'Vui lòng nhập Giá món ăn!',
		      customClass: 'swal-wide',
		      timer: 3000
		    })
            return false;
        }
        return true;
    }
  </script>