
@{
    ViewData["Title"] = "TimNhanVienPhuongTien";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model NhanVienPhuongTienViewModel
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            @if (Model.Ho != null)
            {
                <div class="col-md-6 ">
                    <div class="product-preview">
                        <img src="@Model.ImgUrl" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="product-details">
                        <h2 class="product-name">Biển Kiểm Soát: @Model.BienKiemSoat</h2>
                        <h3>Họ và tên Nhân viên: @Model.Ho @Model.TenLot @Model.Ten</h3>
                        <h3>Giấy phép lái xe: @Model.SoGPLX</h3>
                        <div>
                            Chỉ số đánh giá:
                            <div class="product-rating">
                                @{
                                    for (int i = 0; i < Model.Rating; i++)
                                    {
                                        <i class="fa fa-star"></i>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <h2 class="text-center col-12">Chưa có Shipper sở hữu phương tiện này</h2>
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <form asp-controller="Admin" asp-action="UpdatePhuongTien">
                        <div class="billing-details">
                            <div class="section-title">
                                <h3 class="title">Thêm Shipper sở hữu phương tiện này</h3>
                            </div>
                            <div class="form-group col-3">
                                <label>Nhập số Giấy phép lái xe của Shipper</label>
                                <input class="input" type="text" name="gplx" required="required" />
                                <input type="hidden" name="bienso" value="@Model.BienKiemSoat" />
                            </div>
                        </div>
                        <button class="btn my-1" type="submit" style="background-color: #1b8534;font-size: 13px;width:100px;">Thêm</button>
                    </form>
                </div>
                <div class="col-md-3"></div>
            }
            <!-- Product main img -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
